*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login_page{
    display: flex;
    width: 100%;
    height: 100%;
    background: rgb(245, 241, 241);
  

}
.first{
    height: 100%;
    width: 60%;
    background-color: rgb(252, 249, 249);
    margin: 20px;
    border-radius: 5px;
    

}
.brand{
    margin: 10%;
}
.brand>div>h2{
    font-size:40px;
      
}
.brand>div>p{
    font-size:20px;
    color: rgb(112, 110, 110);
}


div>h1{
   font-size:30px;
   font-family: cursive;


}
.machine>img{
    height: 350px;
    width: 300px;
    margin-top:60px;
    margin-left: 30px;
}
.second{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding-top: 10%;
   
    height: 100%;
    width:40%;
    background-color: rgb(250, 250, 250);
    gap: 20px;
    color: black;
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(red,blue,green);
    border-radius: 5px;

}
.second>input{
    height: 50px;
    width: 70%;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 20px;
     
}
.second>label{
    font-size:20px;
    font-weight: bold;
}
.third{
    display: flex;
    gap: 150px;
}
.third>a{
    display: inline-block;
}
.second>.third{
 
display: flex;
justify-content: start;
}
.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    height: 20%;
    width: 60%;
}
.signup>button{
    
    color: white;
    font-size:20px;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(64, 64, 71);
    width: 1500%;
    height:50px;
}
.footer {
    padding-top:30px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
